

<%= form_for(@note) do |f| %>
<% if @note.errors.any? %>
<div id="error_explanation">
<h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

<ul>
<% @note.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>
</div>
<% end %>

<div class="control-group">
<div>
<%= f.label :name, :class => "control-label" %>
</div>
<div class="controls">
<%= f.collection_select(:student_id, Student.all, :id, :name) %>
</div>
</div>
<div class="control-group">
<div>
<%= f.label :category, :class => "control-label" %>
</div>
<div class="controls">
<%= f.collection_select(:category_id, Category.all, :id, :name) %>
</div>
</div>
<div class="control-group">
<div>
<%= f.label :details, :class => "control-label" %>
</div>
<div class="controls">
<%= f.text_area :details, :rows => "3" %>
</div>
</div>
<div class="control-group">
<div class="control-label">&nbsp;</div>
<div class="controls">
<%= f.submit 'Add your note', :class=>"btn" %>
</div>
</div>

<% end %>




