<h1>Listing yeargroups</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Numberval</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @yeargroups.each do |yeargroup| %>
  <tr>
    <td><%= yeargroup.name %></td>
    <td><%= yeargroup.numberval %></td>
    <td><%= link_to 'Show', yeargroup %></td>
    <td><%= link_to 'Edit', edit_yeargroup_path(yeargroup) %></td>
    <td><%= link_to 'Destroy', yeargroup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Yeargroup', new_yeargroup_path %>
