
<h3>Single Users</h3>
<i>scroll down for bulk import option</i>
<hr>


<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :schoolreference %><br />
    <%= f.text_field :schoolreference %>
  </div>

    <%= f.label :form_id %><br />
    <%= f.collection_select(:form_id, Form.order("name ASC").all, :id, :name) %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<br><br>
<hr>

<h3>Bulk Add</h3>
<i>CSV file should be [Student Code, Name, Form_id]</i>
<hr>
<%= form_tag import_students_url, :multipart => true do %>
<%= file_field_tag "file" %>
<%= submit_tag "Upload and do your worst ..."%>
<% end %>