<p id="notice"><%= notice %></p>

<h3><%= @student.name %></h3>

<small>[<%= @student.schoolreference %> | <%= link_to @student.form.name, :controller=>"forms", :action=> "show", :id=> @student.id %> | <%= link_to @student.form.user.name, :controller=>"users", :action=> "show", :id=> @student.form.user.id %> ]</small>
<hr>

<% if !(@notes.empty? || @notes.nil?) %>
<table  class="table table-striped table-bordered" id="sortable">
<thead>
<th>Date</th>
<th>Category</th>
<th>Details</th>
<th>Added by</th>

</thead>
<tbody>
<% @notes.each do |note| %>
<tr>
<td><%= note.created_at.strftime("%d.%m.%y") %></td>
<td><%= link_to note.category.name , :controller=>"categories", :action=> "show", :id=> note.category.id  %></td>
<td><%= link_to note do %><i class="icon-play-circle"></i><% end%> &nbsp;&nbsp; <%= note.details %></td>
<td><%= link_to note.user.name, :controller =>"users", :action=>"show", :id => note.user.id %></td>
</tr>
<% end %>
</tbody>
<% end %>


