<h1>Listing forms</h1   >

<i class="icon-plus"></i> <%= link_to 'New Form', new_form_path %>
<hr>
<table class="table table-striped table-bordered" id="sortable">
  <tr>
    <th>Year Group</th>
    <th>Name</th>
    <th>Teacher</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @forms.each do |form| %>
  <tr>
    <td><%= form.yeargroup.name %></td>
    <td><%= form.name %></td>
    <td><%= form.user.name %></td>
    <td><%= link_to 'Show', form %></td>
    <td><%= link_to 'Edit', edit_form_path(form) %></td>
    <td><%= link_to 'Destroy', form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />


