
<h1>Notes filed under "<%= @category.name %>"</h1>
<br/>
<hr/>
<% if !(@notes.empty? || @notes.nil?) %>
<table class="table table-striped table-bordered" id="sortable">
<thead>
<th>Date</th>
<th>Child</th>
<th>Form</th>
<th>Details</th>
<th>Added by</th>
</thead>

<tbody>
<% @notes.each do |note| %>
<tr>
<td><%= note.created_at.strftime("%d.%m.%y") %></td>
<td><%= link_to note.student.name, :controller=>"students", :action=> "show", :id=> note.student.id %></td>
<td><%= link_to note.student.form.name, :controller=>"forms", :action=> "show", :id=> note.student.form.id %></td>
<td><%= link_to note do %><i class="icon-play-circle"></i><% end%> &nbsp;&nbsp; <%= note.details %></td>
<td><%= link_to note.user.name, :controller =>"users", :action=>"show", :id => note.user.id %></td>
</tr>
<% end %>
</tbody>
<% end %>
