<%= link_to "Notepatrol", root_path, :class => 'brand' %>

<%= form_tag go_form_url, :class=>"navbar-form pull-left"%>
<%= select_tag(:id, options_from_collection_for_select(Form.all, :id, :name), :class=>"span2") %>
<button type="submit" class="btn">Choose a Form</button>
</form>

<div class="navbar-form pull-left">
&nbsp;&nbsp;&nbsp;
</div>

<%= form_tag go_yeargroup_url, :class=>"navbar-form pull-left"%>
<%= select_tag(:id, options_from_collection_for_select(Yeargroup.all, :id, :name), :class=>"span2") %>
<button type="submit" class="btn">Choose a Year</button>

</form>






<div style="float:right">
<ul class="nav">

<% if user_signed_in? %>
<% if current_user.has_role? :admin %>
<li>
<%= link_to('Admin', users_path) %>
</li>
<% end %>

<li>
<%= link_to(current_user.name, edit_user_registration_path) %>
</li>
<li>
<%= link_to( 'Log out', destroy_user_session_path, :method=>'delete')%>
</li>
<% else %>
<li>
<%= link_to('Login', new_user_session_path)  %>
</li>
<% end %>
<% if user_signed_in? %>
<li>
</li>
<% else %>
<li>
<%= link_to('Sign up', new_user_registration_path)  %>
</li>
<% end %>
</ul>
</div>





